
*{
	margin: 0;
	padding: 0;
}
#contenedor{
	margin: 10px auto;
	width: 540px;
    height: 115px;
    border: dotted ;
}
.reloj{
	float: left;
	font-size: 80px;
	font-family: Courier,sans-serif;
	color: rebeccapurple;
}
.boton{
	outline: none;
	border: 1px solid #363431;
	color: white;
	width: 128px;
	height: 30px;
	text-shadow: 0px -1px 1px black;
	font-size: 20px;
	border-radius: 5px;
	font-family: Helvetica;
	cursor: pointer;
	background-image: linear-gradient(blue,black);
}
.boton:active{
	background-image: linear-gradient(red,orange);
}
.boton:hover{
	box-shadow: 0px 0px 14px blue ;
}
@media(max-width:797.98px){


    #contenedor{

        width: 250px;
        height: 50px;
        border: none;
        
    }
    .reloj{
        text-align: center;
        float: center;
        font-size: 60px;
        font-family: Courier,sans-serif;
        color:black;
        }
        .boton{
            align-items: center;
            outline: none;
            border: 1px solid #363431;
            color: white;
            width: 100px;
            height: 30px;
            text-shadow: 0px -1px 1px black;
            font-size: 20px;
            border-radius: 5px;
            font-family: Helvetica;
            cursor: pointer;
            background-image: linear-gradient(blue,black);
        }
    
}